@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --p: 235 86% 65%;          /* primary */
    --s: 259 94% 72%;          /* secondary */
    --a: 171 69% 54%;          /* accent   */
    --n: 220 13% 18%;          /* neutral  */
    --b1: 210 38% 98%;         /* base-100 */
  }
}

 * {
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #2e2e2e;
    background-color: #bfbfbf;
  
  }
body {
  background-color: var(--fond-principal);
  color: var(--texte-principal);
  line-height: 1.8;
  font-size: 1.1rem;
}

section {
  padding: 4rem 1.5rem;
  max-width: 800px;
  background-color:#bfbfbf;
  margin: 8rem auto; /* haut/bas : 4rem, gauche/droite : auto */
}

#galerie{
    background-color: #bfbfbf;
    margin-top: 200px;
    margin-bottom: 8rem;
    text-align: center;
}
.footer{
    background-color: #bfbfbf;
}
nav{
    background-color: #bfbfbf;
}
.burgerBtn{
    background-color: #bfbfbf;
}

.contact{
    background-color: #bfbfbf;
    margin-top: 200px;
    margin-bottom: 8rem;
    text-align: center;

}
.calc{

    margin-top: 200px;
    margin-bottom: 8rem;
    text-align: center;
}
.btn-bruteforce{
    margin-top: 200px;
    margin-bottom: 8rem;
    text-align: center;
}
form-control{
background-color: #888787;
}
h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--texte-principal);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  margin-top: 2rem;
}
h3 {
  font-size: 1.2rem;
}

audio {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}
